{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block background-header %} {% load static %} {% static 'core/img/header_pagina.jpg'%} {% endblock %}

{% block headers %}
<h2>SITIO DE ABOGADOS</h2>
<!-- <span class="subheading">Página Principal</span> -->
{% endblock %}

{% block content %}
<div class="card-container div_center">
    <!-- <div class="card"> -->
        <h4><b>Bienvenido a Sitio de Abogados:</b></h4>
        Entendemos que enfrentar cuestiones legales puede ser abrumador. Nuestro despacho está dedicado a brindar soluciones legales efectivas con un enfoque personalizado. Con un equipo de abogados altamente calificados y comprometidos, estamos aquí para asistirte en cada paso del proceso legal.        
        <br><br>
    <!-- </div> -->
    <!-- <div class="card"> -->
        <b><h4>Nuestro Compromiso con la Excelencia:</h4></b>
        En nuestro despacho, nos enorgullece ofrecer servicios legales de la más alta calidad. Nos comprometemos a proporcionar asesoramiento legal claro y efectivo, centrado en tus necesidades específicas. Ya sea que enfrentes asuntos corporativos, civiles o penales, nuestro equipo está preparado para abogar por tus derechos y defender tus intereses.        
        <br><br>
    <!-- </div> -->
    <!-- <div class="card"> -->
        <b><h4>Áreas de Especialización:</h4></b>
        Contamos con expertos en diversas áreas legales. Desde derecho corporativo hasta litigios civiles y defensa penal, nuestros abogados tienen la experiencia necesaria para abordar una amplia gama de problemas legales. Con un enfoque multidisciplinario, estamos preparados para ofrecer soluciones integrales y estratégicas.              
        <br><br>
    <!-- </div> -->
</div>



{% endblock %}
